#installBtn{
    white-space: nowrap;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.76) !important; /* Transparent effect */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  transition: all 0.3s ease-in-out;
  
}

.header.nav-con{
    display: flex;
    justify-content: space-around;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown content (hidden by default) */
.logout-Dropdown {
    display: none;
    position: absolute;
    background-color: #f94415;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.logout-Dropdown.show {
    display: block;
}

.logout-Dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  /* Default (for larger screens) */
  #college-name::before{
    content: "SJC - COLLEGE OF COMPUTER STUDIES";
  }
  #app-name::before {
    content: "EFMS";
  }

  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    #college-name::before {
      content: "SJC - CCS";
    }
    #app-name::before {
      content: "Student Management";
    }
  }

  /* Media Query for mobile screens */
  @media (max-width: 480px) {
    #college-name::before {
      content: "SJC-CCS";
    }
    #app-name::before {
      content: "EFMS Mobile";
    }
  }
