@font-face{
    font-family: behavior;
    src: url(..//..//assets/fonts/behavior/Behavior.otf);
}

@font-face {
    font-family: coolvetica;
    src: url(..//..//assets/fonts/coolvetica-condensed-rg.otf);
}

*{
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 100%;
    background-color: #f94415;
}