* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#installBtn{
    background-color: #f94415;
    color: white;
    border-color: white;
}

#installBtn:hover{
    background-color: green;
    border-color: green;
}


.logout-btn-dropdown{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer{
    margin-top: auto; 
}