.student-body{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}

.studentcon{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #1284f7;
}

.student-left-navbar{
    width: 15%;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid #f94415;
    box-shadow: 0px 0px 6px 0px rgb(138, 138, 138);
}

.student-left-navbar a{
    text-decoration: none;
    color: #f94415;
    font-family: Arial;
    font-size: 14px;
    padding: 15px 0px 15px 10px;
    width: 90%;
    display: flex;
    justify-content: start;
    border-top: 1px solid rgba(139, 139, 139, 0.103);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #f94415;
}

.student-left-navbar .title{
    user-select: none;
    pointer-events: none;
    color: black;
    border: none;
}

.student-left-navbar a:hover{
    background-color: #f94415;
    color: white;
}

.student-left-navbar a img{
    width: 25px;
}

.student-navbar-display{
    width: 85%;
    height: 100vh;
}