.event-management-con{
    font-family: "Open-sans", sans-serif;
}

.event-management-header{
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #e8ecf1;
    display: flex;
    flex-direction: row;
}

.event-management-header span{
    font-weight: 600;
    width: 50%;
}

.location{
    width: 50%;
    text-align: end;
}

.location a{
    text-decoration: none;
    margin-right: 5px;
    color: blue;
    font-size: 14px;
}

.location span{
    margin-left: 5px;
    font-size: 14px;
}

.list-events-con{
    width: 100%;
    height: auto;
}

.event{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.event:hover{
    background-color: #e8ecf1;
}
.name-date{
    margin: 10px;
    width: 40%;
}

.name-date h4, .name-date p, .date-created p{
    font-size: 14px;
}

.date-created{
    width: 30%;
}


.action-btn a{
    text-decoration: none;
    color: #007BFF;
    margin: 0px 10px 0px 10px;
}

.action-btn a:hover {
    color: #ff7b00;
    border-bottom: 1px solid black;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
    .start-attendance-btn{
        border: none;
        user-select: none;
    }
    .start-attendance-btn a{ 
        border: none;
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        background-color: #f94316;
        color: white;
        border-radius: 5px;
        text-decoration: none;
    }

    .event-management-con button:hover, .event-management-con button a:hover, #create-event-btn:hover{
        background-color: #ff7b00;
    }

    /* Table styling */
.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e8ecf1;
}

.events-table th,
.events-table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #e8ecf1;
    font-family: "Open Sans", sans-serif;
}

.events-table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: sticky;
    user-select: none;
    top: 0;
}

.events-table th:hover {
    background-color: #e1e1e1;
}

.events-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.events-table tr:hover {
    background-color: #f1f1f1;
}

.events-table td {
    color: black;
}

.events-table td a {
    color: #007BFF;
    text-decoration: none;
}

.events-table td a:hover {
    text-decoration: underline;
}
