.fee-management-con{
    font-family: "Open-sans", sans-serif;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.fee-management-header{
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #e8ecf1;
    display: flex;
    flex-direction: row;
}

.fee-management-header span{
    font-weight: 600;
    width: 50%;
}

.location{
    width: 50%;
    text-align: end;
}

.location a{
    text-decoration: none;
    margin-right: 5px;
    color: blue;
    font-size: 14px;
}

.location span{
    margin-left: 5px;
    font-size: 14px;
}


.list-fees-con{
    width: 100%;
    height: 100%;
}

.fee{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8ecf1;
}

.fee:hover{
    background-color: #e8ecf1;
    cursor: pointer;
}

.name-date{
    margin: 10px;
 font-size: 14px;
}

.date-created{
    font-size: 14px;
}

.action-btn a{
    text-decoration: none;
    color: #444;
}

.action-btn a img{
    width: 20px;
}

.action-btn a img:hover{
    border-bottom: 1px solid black;
}

.fee-management-con button{
    margin-top: 10px;
    border: none;
    padding: 10px;
    background-color: #f94316;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.fee-management-con button a{
    text-decoration: none;
    color: white;
    background-color: #f94316;
    padding: 10px;
    border-radius: 5px;
}

.fee-management-con button:hover, .event-management-con button a:hover{
    background-color: tomato;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

 /* Table styling */
 .fees-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e8ecf1;
}

.fees-table th,
.fees-table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #e8ecf1;
    font-family: "Open Sans", sans-serif;
}

.fees-table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: sticky;
    user-select: none;
    top: 0;
}

.fees-table th:hover {
    background-color: #e1e1e1;
}

.fees-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.fees-table tr:hover {
    background-color: #f1f1f1;
}

.fees-table td {
    color: black;
}

.fees-table td a {
    color: #007BFF;
    text-decoration: none;
}

.feee-table td a:hover {
    text-decoration: underline;
}
