.admin-management-body{
    margin-top: 20px;
    padding: 1.8rem;
    margin: 1.8rem;
    background-color: white;
    overflow-x: auto;
    margin-bottom: 90px;
}

.admin-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e8ecf1;
}


/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
    .admin-management-body{
        padding: 10px;
        margin: 10px;
    }

    .admin-table th{
        font-size: 10px;
    }
    .admin-table td{
        font-size: 10px;
    }
}