.admin-dashboard-body{
    width: 100%;
}

.admin-dashboard-con{
    margin-top: 20px;
    background: white;
    font-family: "Open Sans", sans-serif;
    width: auto;
    height: auto;
    padding: 1.8rem;
    margin: 1.8rem;
    overflow-x: auto;
}

.report-summary-header{
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #e8ecf1;
}

.report-summary-header span{
    font-weight: 600;
}

.dashboard-card{
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #e8ecf1;
}

.dashcard-item{
    display: flex;
    justify-content: space-evenly;
}

.card-details{
    width: 50%;
}

.dash-view-loc{
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

.dash-view-loc:hover{
    text-decoration: underline;
}
.dashboard-card h2{
    width: 100%;
    font-size: 14px;
    color: black;    
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.dashboard-card img{
    width: 80px;
    height: 80px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-view-count{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
    .admin-dashboard-con{
        padding: 10px;
        margin: 10px;
        height: 100%;
    }

    .dashcard-item{
        flex-direction: column;
    }
}

/* Small devices (large phones) */
@media only screen and (min-width: 577px) and (max-width: 768px) {

}

/* Medium devices (tablets) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}